{
  "plugins": [
    "@babel/plugin-transform-block-scoping"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "defaults",
            "not ie 11"
          ]
        },
        "bugfixes": true,
        "loose": true
      }
    ]
  ]
}
