.usertext h1 {
  font-size: 48px;
  font-family: inherit;
  font-weight: 600;
  margin: 1em 0;
}

.usertext h2 {
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
}

.usertext h3 {
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
}

.usertext h4 {
  font-size: 18px;
  font-family: inherit;
  font-weight: inherit;
}